/* Font */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=MedievalSharp&display=swap');
/*     font-family: 'Homemade Apple', cursive;
    font-family: 'MedievalSharp', cursive; */
/* color palette from <https://github.com/vuejs/theme> 

#D4B58B

*/

:root {
	/* bg border */
	--color-1: #d4b58b;
	--color-2: #86775f;
	--color-3: #391d15;
	--color-4: #7d725c;

	/* 3 primary colors */
	--color-green: #999641;
	--color-red: #c67250;
	--color-yellow: #ca984a;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	position: relative;
	font-weight: normal;
}

body {
	overflow-x: hidden;
	box-sizing: border-box;
	min-height: 100vh;

	line-height: 1.6;

	background-position: center;
	background-repeat: repeat;
	background-size: contain;
	background-image: url('./paper-background-image.webp');
}

#notify {
	position: relative;
}
