@import './base.css';

#app {
	/* max-width: 1280px; */
	margin: 0 auto;

	font-weight: normal;
	height: 100vh;
	background-position: center;
	background-repeat: repeat;
	background-size: contain;
	background-image: url('./paper-background-image.webp');
}

h1 {
	font-size: 4rem;
	font-family: 'MedievalSharp', cursive;
	color: #2f1812;
	opacity: 0.95;
}
p {
	color: var(--color-3);
	font-family: 'Domine', serif;
	font-weight: bolder;
	font-size: 1.5rem;

	opacity: 0.8;
}

a,
.green {
	text-decoration: none;

	transition: 0.4s;
}
/* 
@media (min-width: 1024px) {
	body {
	}
} */
